<plugin name='ulc' version='2008-u1'>
    <resources>
        <resource>com.ulcjava.grails.controller.UlcServerEndpointController</resource>
        <resource>com.ulcjava.grails.services.GenericBeanListTableModel</resource>
        <resource>com.ulcjava.grails.services.UlcHomeViewFactory</resource>
        <resource>com.ulcjava.grails.taglib.UlcTagLib</resource>
    </resources>
</plugin>