<plugin name='ulc' version='2008-u4-2' grailsVersion='1.2.0 &gt; *'>
  <resources>
    <resource>BuildConfig</resource>
    <resource>UrlMappings</resource>
    <resource>com.ulcjava.grails.controller.UlcServerEndpointController</resource>
    <resource>com.ulcjava.grails.services.GenericBeanListTableModel</resource>
    <resource>com.ulcjava.grails.services.UlcHomeViewFactory</resource>
    <resource>com.ulcjava.grails.taglib.UlcTagLib</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>